################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chapter_4_Sloppy_Joe/.vs/Chapter_4_Sloppy_Joe/v15
